- content_for 'navigation' do
  %li= link_to "Dashboard", root_path
  %li= link_to "Add a task", new_list_task_path(@list)

%h1
  %span.highlight= @list.name

- if @tasks.any?
  %ul.with-actions
    - @tasks.each do |task|
      %li
        .items= task.description
        .actions
          = link_to image_tag("list-action-edit.png"), edit_list_task_path(@list, task), :id => "edit_#{task.id}"
          = link_to image_tag("list-action-delete.png"), list_task_path(@list, task), :method => :delete, :confirm => "Are you sure?", :id => "delete_#{task.id}"
        .clear
- else
  %p You have not created any tasks yet.
  = link_to "Want to create one?", new_list_task_path(@list)