- content_for 'navigation' do
  %li= link_to "Dashboard", root_path
  %li= link_to "Back to list", list_tasks_url(@list)

%h1 New task

= form_for @task, :url => { :action => "create" }, :method => "post" do |f|
  = render "shared/error_messages", :target => @task, :message => "prohibited this task from being added:"
  %fieldset
    %legend Task info
    %p
      = f.label :description, "Enter a description for this task"
      = f.text_field :description
    %p
      = f.submit "Add task"
      or
      = link_to "cancel", list_tasks_url(@list)